:root {
  --valhalla-color: #2e2f42;
  --royal-blue-color: #4d5ae5;
  --gun-powder-color: #434455;
  --white-color: #ffffff;
  --ghost-white-color: #f4f4fd;
  --free-speech-blue: #404bbf;
  --border-color: #e7e9fc;
  --transition: 250ms;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--gun-powder-color);
  background-color: var(--white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--royal-blue-color);
  text-transform: uppercase;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--royal-blue-color);
  background: var(--ghost-white-color);
  cursor: pointer;
  border-radius: 4px;
  display: block;
  transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1) linear;
}
.btn:focus,
.btn:hover {
  color: var(--white-color);
  background-color: var(--free-speech-blue);
  transition: transform var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--valhalla-color);
  margin-bottom: 8px;
}

.subtitle-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gun-powder-color);
}

.link {
  text-decoration: none;
}
.list {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/********************************* section heder **********************************/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  height: 72px;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu .list {
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--valhalla-color);
  display: block;
  padding: 24px 0;
  transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1) linear;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--free-speech-blue);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  top: 44px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--free-speech-blue);
}

.header-logo-part {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--valhalla-color);
}

.heder-logo {
  margin-right: 76px;
}

.header-contacts {
  font-style: normal;
  display: flex;
  align-items: center;
}

.contacts-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 40px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--free-speech-blue);
}
.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gun-powder-color);
  transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1) linear;
}

/********************************* section hero **********************************/

.hero {
  padding: 188px 0;
  height: 600px;
  background-color: var(--valhalla-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 496px;
  margin: 0 auto 48px;
  text-align: center;
}
.hero-btn {
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;
  background-color: var(--royal-blue-color);
  font-family: inherit;
  color: var(--white-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
/********************************* section strategy **********************************/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.strategy {
  padding: 120px 0;
}

.advantage-list {
  display: flex;
  gap: 24px;
}
.advantage-item {
  max-width: 264px;
}

.advantage-icons-block {
  content: "";
  width: 264px;
  height: 112px;
  background: var(--ghost-white-color);
  border-radius: 4px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--gun-powder-color);
}
/********************************* section What we are doing **********************************/
.products {
  padding-bottom: 120px;
}
.products-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--valhalla-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.products-list {
  display: flex;
  gap: 24px;
}

.products-item {
  background-color: var(--white-color);
  max-width: calc((100% - 48px) / 3);
}

/********************************* section team **********************************/

.team {
  padding: 120px 0;
  height: 780px;
  text-align: center;
  background-color: var(--ghost-white-color);
}

.team-container {
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--valhalla-color);
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white-color);
  max-width: calc((100% - 72px) / 4);
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.card {
  padding: 32px 16px 8px;
}

.social-icons-block {
  padding: 32px 0;
}

.social-icons-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.team-icons-item {
  content: "";
  width: 40px;
  height: 40px;
  background: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-icons-link {
}
.link {
}
.team-icons {
  align-items: center;
  justify-content: center;
}

.team-icons-item {
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--valhalla-color);
}
.team-descr {
}

/********************************* section customers **********************************/

.customers {
  padding: 103px 0 120px;
}

.customers-container {
  height: 200px;
}
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--valhalla-color);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  content: "";
  width: 168px;
  height: 88px;
  color: var(--ghost-white-color);

  display: flex;
  align-items: center;
  justify-content: center;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--free-speech-blue);
  transition: borrder-color var(--transition) cubic-bezier(0.4, 0, 0.2, 1),
    color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--free-speech-blue);
  background-color: var(--free-speech-blue);
}

.customers-icons {
}

/* Footer */

.footer {
  padding: 100px 0;
  background-color: var(--valhalla-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-link {
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ghost-white-color);
  max-width: 264px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-descr {
  margin-right: 120px;
}

.footer-logo-part {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--ghost-white-color);
}

.footer-text {
  max-width: 264px;
}

.footer-social {
}
.footer-social-list {
  gap: 16px;
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

/********************** Rortfolio page *********************/

.filter {
  padding: 96px 0 120px;
}

.hero-portfolio {
  padding: 32px 16px;
}

.portfolio-filter {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-filter-item {
}
.content-menu {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.list {
}
.content-item {
  width: calc((100% - 48px) / 3);
}
.content-link {
  border-bottom: 1px solid var(--border-color);
  display: block;
}

.content-item:hover .portfolio-cover-block {
  transform: translate(0);
}

.btn-portfolio {
  border: 1px solid var(--border-color);
  padding: 12px 24px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  border: 1px solid transparent;
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-block {
  position: absolute;
  background-color: var(--royal-blue-color);
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--ghost-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition) cubic-bezier(0.4, 0, 0.2, 1),
    visibility var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background: var(--border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition) cubic-bezier(0.4, 0, 0.2, 1),
    border var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  border: none;
  fill: #ffffff;
}

.modal-icon {
  background: var(--border-color);
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
